@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oswald:wght@200..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Oswald:wght@200..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Oswald:wght@200..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Lilita+One&family=Oswald:wght@200..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Lilita+One&family=Oswald:wght@200..700&display=swap');

.circulo_black{
    background-color: #181818;
    width: 35vw; 
    height: 35vw;
    border-radius: 100%;
    z-index: 1;
    position: absolute;
}

.soprepor{
    z-index: 2;
    position: relative;
}

.icones{
    font-size: 3vh;
    color: white;
}

.icones-maiores{
    font-size: 5.5vh;
    color: white;
}

.azul{
    background-color: #4042F6;
}

.titulo{
    font-size: 22px;
}

.roxo{
    background-color: #8812EF;
}

.preto{
    background-color: #181818;
}

#linear{
    background-image: linear-gradient(to right,#EFF0F2,#999a9c);
}

.hello{
    font-size: 30px;
}

.conteudo{
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-rows: 1fr 25% 1fr;
}

.primeira-linha{
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    align-items: center;
    justify-content: stretch;
    text-align: center;
}

.segunda-linha{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.terceira-linha{
    display: grid;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    justify-content: stretch;
    text-align: center;
}

.botoes-contato-projetos{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
    text-align: center;
}

.coluna-1{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-content: center;
    text-align: center;
}

.botoes_icon{
    border-radius: 20px;
    border: none;
    width: 90px;
    height: 70px;
}

.botoes_maiores{
    border-radius: 20px;
    border: none;
    width: 140px;
    height: 120px;
}

/* regras de verificação de tamanho de tela no css são chamadas de break points */

/* tela de tablet */
@media (min-width:768px){

    .botoes_icon{
        border-radius: 20px;
        border: none;
        width: 130px;
        height: 110px;
    }
    
    .botoes_maiores{
        border-radius: 20px;
        border: none;
        width: 160px;
        height: 140px;
    }

    .icones{
        font-size: 4.5vh;
        color: white;
    }

    .hello{
        font-size: 3.5vh;
    }

    .titulo{
        font-size: 3vh;
    }

    .legenda{
        font-size: 2vh;
    }
}

/* tela de computador */
@media (min-width:1024px){

    .conteudo{
        width: 100%;
        min-height: 100vh;
        display: flex;
        flex-direction: row;
    }

    .conteudo > div {
        width: 33.3%; /* Faz cada filho ocupar um terço da tela */
    }

    .primeira-linha{
        display: grid;
        grid-template-rows: 25% 1fr;
        align-items: center;
        justify-content: stretch;
        text-align: center;
    }

    .terceira-linha{
        display: grid;
        grid-template-rows: 1fr 1fr;
        align-items: center;
        justify-content: stretch;
        text-align: center;
    }

    .coluna-1, .botoes-contato-projetos{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        text-align: center;
        height: 100%;
    }

    .botao-sobre-mim, .botao-skills{
        margin-left: 30%;
    }

    .botao-projetos{
        margin-right: 30%;
    }


    .botoes_icon, .botoes_maiores{
        border-radius: 30px;
        border: none;
        width: 120px;
        height: 100px;
    }

    .icones, .icones-maiores{
        font-size: 4vh;
        color: white;
    }

    .titulo{
        font-size: 3.5vh;
    }

    .legenda{
        font-size: 2.5vh;
    }

    .hello{
        font-size: 4vh;
    }

    .minha_foto{
        margin-top: 10vh;
    }
}

/* .modal-container{
    height: 100vh;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.192);
    display: grid;
    place-items: center;
}

.modal_body{
    background-color: #1D1D1D;
    color: white;
    height: 50vh;
    width: 70vh;
    padding: 40px;
    border-radius: 10px;
    text-align: center;
}

.modal_conteudo{
    place-items: center;
}

.links_contatos{
    display: flex;
    flex-direction: row;
    justify-content: stretch;
}

#icone, #icone_zap, #icone_telegram, #icone_email{
    font-size: 5vh;
    margin: 20px;
}

#icone_telegram{
    color: #30A3E6;
}

#icone_zap{
    color: #00C44D;
}

#icone_email{
    color: #E9514F;
} */





