.links{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 2.5vh;
}

.item{
    transition: .35s;
    cursor: pointer;
}

.links:hover{
    transition: .25s;
    text-decoration: underline red;
    display: inline-block;
}

.links.active {
    transition: .25s;
    text-decoration: underline red;
    display: inline-block;
}

.eu{
    border-radius: 20vh;
}

p{
    font-size: 2.5vh;
}

.sobre_mim{
padding-top: 10vh;
}

ul{
    list-style: none;
}

.nome {
    background-color: rgb(168, 3, 3);
    border-radius: 10px;
    padding: 10px;
    display: inline-block;
}

.custom-ul {
    display: flex;
    justify-content: flex-start;
    padding: 0;
    margin: 0;
    flex-wrap: nowrap;
    overflow-x: auto;
    list-style: none;
}

.custom-ul li {
  flex: 0 0 auto;
  margin-right: 15px;
  text-align: center;
  display: inline-block;
}

.fixo{
    position: fixed;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
}

html{
    height: 350vh;
}

.hidden{
    opacity: 0;
    filter: blur(15px);
    transform: translateX(-100%);
    transition: all 1s;
}

.show{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
    transition: all 1s;
}
