@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oswald:wght@200..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Oswald:wght@200..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Oswald:wght@200..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Lilita+One&family=Oswald:wght@200..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Lilita+One&family=Oswald:wght@200..700&display=swap');

.links{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 2.5vh;
    font-family: 'Inria Sans', sans-serif;
    font-weight: bold;
}

.sobre_user{
    font-family: 'Inria Sans', sans-serif;
}

.eu{
    width: 55vh;
}

p{
    font-size: 2.5vh;
}

.sobre_mim{
padding-top: 10vh;
}

ul{
    list-style: none;
}

.nome {
    border-radius: 10px;
    padding: 10px;
    display: inline-block;
    font-family: 'Inria Sans', sans-serif;
    font-weight: bold;
    color: black;
}

.titulos{
    border-radius: 10px;
    padding: 10px;
    display: inline-block;
    font-family: 'Inria Sans', sans-serif;
    font-weight: bold;
    color: black;
}

.custom-ul {
    display: flex;
    justify-content: flex-start;
    padding: 0;
    margin: 0;
    flex-wrap: nowrap;
    overflow-x: auto;
    list-style: none;
    scrollbar-width: thin;
}


.custom-ul li {
  flex: 0 0 auto;
  margin-right: 15px;
  text-align: center;
  display: inline-block;
}

.flex{
    display: flex;
    align-items: center;
    justify-content: center;
}

.divisao{
    margin-top: 10%;
}

.circulo_black{
    background-color: #181818;
    width: 35vw; 
    height: 35vw;
    border-radius: 100%;
    z-index: 1;
    position: absolute;
}

.soprepor{
    z-index: 2;
    position: relative;
}

.botoes_icon{
    padding: 4% 8%;
    border-radius: 20px;
    border: none;
}

.afastamento{
    padding: 10%;
}

.icones{
    font-size: 200%;
    color: white;
}

#azul{
    background-color: #4042F6;
}

#roxo{
    background-color: #8812EF;
}

#preto{
    background-color: #181818;
}

#linear{
    background-image: linear-gradient(to right,#EFF0F2,#7A7B7D);
}