{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Marcus Vinicius</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body style="background-color: #202020;">

    <div class="container-fluid">
        <div class="row">
            <header id="header">
                <div class="container">
                    <div class="flex">
                        <nav class="links"> 
                            <ul class="nav-menu list-inline"> 
    
                                <li class="item list-inline-item px-2 px-sm-3">
                                    <a class="links" data-id="sobre_mim" data-open>Sobre mim</a>
                                </li>
                                   
                                    
                                <li class="item list-inline-item px-2 px-sm-3">
                                    <a class="links" data-id="minhas_skills">Minhas skills</a>
                                </li>
                                    
                                      
                                <li class="item list-inline-item px-2 px-sm-3">
                                    <a class="links" data-id="meus_projetos">Meus projetos</a>
                                </li>  
                            </ul>

                            <div class="hamburguer">
                                <span class="bar"></span>
                                <span class="bar"></span>
                                <span class="bar"></span>
                            </div>
                        </nav>
                    </div>
                </div>
            </header>

            </div>
    
        
        
        <section class="hidden divisao" id="sobre_mim">
            <div class="row py-5">
               
                {% for usuario in usuarios %}
                    
                <div class="col-md-6 py-5">
                    <nav>
                        <div class="d-flex flex-column align-items-center justify-content-center">
                            <div class="text-center">
                                <h1 class="text-light nome">Olá! Eu sou {{ usuario.nome }}</h1>
                            </div>
                
                            <div class="text-center col-md-6">
                                    <p class="text-light h3">{{ usuario.sobre }}</p>
                            </div>
                
                            <div class="text-center">
                                <ul class="custom-ul"> 
                                    {% for rede in redes %}
                                    <li>
                                        <a href="{{rede.link}}">
                                            <img class="rounded-circle" src="/media/{{rede.foto}}" alt="{{rede.nome}}" width="70" height="70">
                                        </a>
                                    </li>
                                    {% empty %}
                                    <li>
                                        <h6 class="text-center py-2">Nenhuma rede cadastrada!</h6>
                                    </li> 
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </nav>
                </div>
                

                    <div class="col-md-6 d-flex justify-content-center">
                        <img class="eu img-fluid" src="/media/{{usuario.foto}}">
                    </div>

                    {% endfor %}
                    
            </div>
        </section>

        <section class="hidden divisao" id="minhas_skills">
            <div class="row py-5">
                <div class="col-md-12">
                    <nav class="overflow-x-auto nav_skill">
                        <h1 class="text-light titulos mx-5 my-5">Minhas skills</h1>
                        <ul class="custom-ul">
                            {% for skill in skills %}
                            <li class="p-5">
                                <img class="rounded-circle" src="/media/{{ skill.foto }}" alt="{{ skill.nome }}" width="250" height="250">
                                <h4 class="text-light py-3">{{ skill.nome }}</h4>
                                
                            </li>
                            {% empty %}
                            <li>
                                <h6 class="text-center py-2">Nenhuma skill cadastrada!</h6>
                            </li> 
                            {% endfor %}
                        </ul>
                    </nav>
                </div>
            </div>
        </section>
        
        <section class="hidden divisao" id="meus_projetos">
            <div class="row py-5">
                <div class="col-md-12">
                        <nav class="overflow-x-auto">
                            <h1 class="text-light titulos mx-5 my-5">Meus projetos</h1>
                            <ul class="custom-ul justify-content-center align-items-center text-center">
                                {% for projeto in projetos %}
                                <li>
                                    <a href="{{projeto.link}}"><img class="rounded-circle" src="/media/{{projeto.foto}}" alt="{{projeto.nome}}" width="350" height="350"></a>
                                    <h4 class="text-light py-3">{{projeto.nome}}</h4>
                                </li>
                                {% empty %}
                                <li>
                                    <img src="/static/img/breve.png" alt="{{projeto.nome}}" width="250" height="250">
                                </li> 
                                {% endfor %}
                            </ul>
                        </nav>
                </div>
            </div>
        </section>
        

    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>


    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
        
    
    <script src="/static/js/meu_js.js"></script>
</body>
</html>

<!--usar popover-->


