{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Marcus Vinicius</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body style="background-color: #262626;">

    <div class="container-fluid">

        <div class="row"> 
            <div class="col-12 text-center">
                <h1 class="text-light py-4">Olá, Mundo!</h1>
            </div>
    
            <div class="col-12 text-center">
                <ul class="list-inline"> 
                    <div class="tab-links container">
    
                        <div class="item list-inline-item px-2 px-sm-3">
                            <li>
                                <a class="links" data-id="sobre_mim" data-open>Sobre mim</a>
                            </li>
                        </div>
    
                        <div class="item list-inline-item px-2 px-sm-3">
                            <li>
                                <a class="links" data-id="minhas_skills">Minhas skills</a>
                            </li>
                        </div>
    
                        <div class="item list-inline-item px-2 px-sm-3">       
                            <li>
                                <a class="links" data-id="minhas_redes">Minhas redes</a>
                            </li>
                        </div>
    
                        <div class="item list-inline-item px-2 px-sm-3">      
                            <li>
                                <a class="links" data-id="meus_projetos">Meus projetos</a>
                            </li>
                        </div>
                        
                    </div>
                </ul>
            </div>
        </div>

        <div class="row v-full">
            <div class="tab-content">

                <section id="sobre_mim">

                    {% for usuario in usuarios %}
                    
                        <img class="eu img-fluid" src="/media/{{usuario.foto}}">
                    
                    
                    <div class="col-md-8">
                        <h1 class="text-light nome">Olá! Eu me chamo {{ usuario.nome }}</h1>
                        <div class="text-light">
                            <p>{{ usuario.sobre }}</p>
                        </div>
                    </div>
                    {% endfor %}

                </section>

                <section id="minhas_skills">
                    <div>
                        <ul class="d-flex justify-content-center align-items-center text-center">
                            {% for skill in skills %}
                            <li>
                                <img class="rounded-circle" src="/media/{{skill.foto}}" alt="{{skill.nome}}" width="250" height="250">
                                <h4 class="text-light py-3">{{skill.nome}}</h4>
                            </li>
                            {% empty %}
                            <li>
                                <h6 class="text-center py-2">Nenhuma skill cadastrada!</h6>
                            </li> 
                            {% endfor %}
                        </ul>
                    </div>
                </section>

                
                      
                </section>

                <section id="minhas_redes">
                    
                </section>

                <section id="meus_projetos">
                    
                </section>

            </div>
        </div>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

    <script>
        const html = {
            links: [...document.querySelectorAll('.tab-links .links')],
            content: [...document.querySelector('.tab-content').children]
        };
        
        function tabNavigation() {
            function hideAllTabContent() {
                html.content.forEach(section => {
                    section.style.display = "none";
                });
            }
        
            function removeAllActiveClass() {
                console.log('removeAllActiveClass');
            }
        
            function showCurrentTab(id) {
                const tabcontent = document.getElementById(id);
                if (tabcontent) {
                    tabcontent.style.display = 'block';
                }
            }
        
            function selectTab(event) {
                hideAllTabContent();
                const target = event.currentTarget;
                const id = target.dataset.id;
                console.log('Selected tab ID:', id);
                showCurrentTab(id);
            }
        
            function listenForChange() {
                html.links.forEach(tab => {
                    tab.addEventListener('click', selectTab);
                });
            }
        
            function init() {
                // Exibir a seção "Sobre Mim" por padrão
                showCurrentTab("sobre_mim");
                listenForChange();
            }
        
            return {
                init
            };
        }
        
        window.addEventListener('load', () => {
            const tabNavigationInstance = tabNavigation();
            tabNavigationInstance.init();
        });
        </script>
        
    
    
</body>
</html>

<!--usar popover-->




<!--modal exemplo-->

                                
<button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#exampleModal{{ skill.id }}">
    Saiba mais
</button>

<div class="modal fade" id="exampleModal{{ skill.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Sobre: {{ skill.nome }}</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {{ skill.sobre }}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>