{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Marcus Vinicius</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>

<body style="background-image: linear-gradient(to right,#EFF0F2,#7A7B7D);">

    <!-- container fluido para responsividade do site, dentro dele estará todas as rows e cols que vamos usar -->
    <div class="container-fluid min-vh-100 d-flex flex-column">

        <!-- linha onde fica o olá mundo -->
        <div class="row 01">
            <!-- coluna do texto olá mundo -->
            <div class="col">
                <h3 class="text-dark mx-5 my-5">Olá, mundo!</h3>
            </div>

        </div>

        <!-- linha onde fica os botões de sobre mim, skills, projetos, minha foto e os botões de contato e redes sociais, elá será dividida em três colunas inicialmente. -->
         <div class="row 02 flex-grow-1">

            <!-- coluna dos botões sobre mim, skills e projetos -->
            <div class="col">
                <div class="d-flex flex-column justify-content-center align-items-center">
                    <button type="button" class="btn btn-dark">icon</button>
                    <h4 class="text-center fw-bold">Sobre mim</h4>
                </div>
                
                <div class="d-flex flex-column justify-content-center align-items-center">
                    <button type="button" class="btn btn-primary">icon</button>
                    <h4 class="text-center fw-bold">Minhas skills</h4>
                </div>
                
                <div class="d-flex flex-column justify-content-center align-items-center">
                    <button type="button" class="btn btn-warning">icon</button>
                    <h4 class="text-center fw-bold">Meus projetos</h4>
                </div>
                
            </div>

            <!-- coluna da imagem com o circulo de fundo -->
            {% for usuario in usuarios %}
            <div class="col d-flex justify-content-center align-items-center">
                <div class="circulo_black"></div>
                <div>
                    <img class="eu img-fluid" src="/media/{{usuario.foto}}">
                </div>
            </div>
            {% endfor %}

            <!-- coluna com os botões de redes sociais e contatos -->

            <div class="col">

                <div>
                    <h3 class="text-center fw-bold">Me chamo Marcus, <br>
                        dev full-stack.</h3> 
                    <h4 class="text-center fw-light">É um prazer te receber aqui!</h4>
                </div>

                <div class="d-flex flex-column justify-content-center align-items-center">
                    <button type="button" class="btn btn-dark">icon</button>
                    <h4 class="text-center fw-bold">Redes sociais</h4>
                </div>

                <div class="d-flex flex-column justify-content-center align-items-center">
                    <button type="button" class="btn btn-primary">icon</button>
                    <h4 class="fw-bold">Contatos</h4>
                </div>

            </div>

         </div>

    </div>

</body>

