{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="conteudo">

        <div class="primeira-linha">

            <h3 class="hello">Olá, mundo!</h3>
       
        <div class="coluna-1">

            <div class="botao-sobre-mim">
                <!-- href="{% url 'modal_sobre' %}" é a partir desse botão que farei a requisição AJAX -->
                    <button type="button" class="botoes_icon azul" id="abrir_modal_sobre">
                        <i class="bi bi-person-lines-fill icones"></i>
                    </button>
                    <h5 class="my-2">Sobre</h5>
            </div>

            <div class="botao-redes-sociais">
                <button type="button" class="botoes_icon roxo">
                    <i class="bi bi-github icones"></i>
                </button>
                <h5 class="my-2">Redes</h5>
            </div>

            <div class="botao-skills">
                <button type="button" class="botoes_icon preto">
                    <i class="bi bi-patch-check-fill icones"></i>
                </button>
                <h5 class="my-2">Skills</h5>
            </div>

        </div>
        
    </div>

    <div class="segunda-linha">
        {% for usuario in usuarios %}
        <div class="minha-imagem">
            <picture>
                <source srcset="/media/{{ usuario.foto }}" media="(max-width: 767px)">
                <source srcset="/media/{{ usuario.foto_tablet }}" media="(min-width: 768px) and (max-width: 1023px)">
                <source srcset="/media/{{ usuario.foto_pc }}" media="(min-width: 1024px)">
                <img class="minha_foto img-fluid" src="/media/{{ usuario.foto_pc }}" alt="{{ usuario.nome }}">
            </picture>
        </div>
        {% endfor %}
    </div>
    

        <div class="terceira-linha">

            <div class="textos-apresentacao">
                <strong>
                    <h1 class="titulo">Me chamo Marcus, <br>
                        dev full-stack JR.</h1>
                </strong> 
                <p class="legenda">É um prazer te receber aqui!</p>
            </div>

            <div class="botoes-contato-projetos">

                <div class="botao-contatos">
                    <button type="button" class="botoes_maiores roxo">
                        <i class="bi bi-telegram icones-maiores"></i>
                    </button>
                    <h5 class="my-2">Formações</h5>
                </div>

                <div class="botao-projetos">
                    <button type="button" class="botoes_maiores azul">
                        <i class="bi bi bi-box icones-maiores"></i>
                    </button>
                    <h5 class="my-2">Projetos</h5>
                </div>

            </div>

        </div>

        <!-- vou fazer o seguinte, os modais estarão em páginas html separadas para cada um deles, para que eu não tenha muito código em uma unica página e eu basicamente farei com que o modal seja chamado quando o usuário clicar no botão, assim como no redirecionamento de páginas nas url do Django, porém o usuário não mudara de página quando ativar um dos modais. -->

    </div>

    <div class="modal-container" id="modal_body">


        <!-- é aqui onde vamos carregar o modal sobre_mim -->
    </div>

    {% block scripts %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'js/modal.js' %}"></script>
    {% endblock %}

{% endblock %}

