{% extends 'base.html' %}
{% block content %}
    <div class="modal_conteudo">
        {% for usuario in usuarios %}
            <h1>{{ usuario.nome }}</h1>
            <p>{{ usuario.sobre }}</p>

            <div class="contatos">
                <h1>Contatos</h1>

                <div class="links_contatos">
                    <a href="https://contate.me/5584986398194"><i class="bi bi-whatsapp" id="icone_zap"></i></a>
                    <a href="mailto:marcus1vinicius.oliveira1@gmail.com?subject=Vim+atrav%C3%A9s+do+seu+portf%C3%B3lio&body=Quero+falar+com+voc%C3%AA"><i class="bi bi-envelope-at-fill" id="icone_email"></i></a>
                    <a href="https://t.me/omarcus_vinicius"><i class="bi bi-telegram" id="icone_telegram"></i></a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block scripts %}
{% endblock %}