{% extends 'base.html' %}
{% block content %}
    <div class="modal_conteudo">
            <div>
                <h1>Projetos</h1>
            </div>
            {% for projeto in projetos %}
            <div class="estrutura_cards">
        
                <div class="rolagem card" style="width: 18rem;">
                    <img src="/media/{{ projeto.foto }}" class="card-img-top" alt="Imagem do Projeto">
                    <div class="card-body">
                        <h5 class="card-title">{{ projeto.nome }}</h5>
        
                        <details class="colapse">
                            <summary>Sobre</summary>
                            <div>
                                {{ projeto.sobre }}
                            </div>
                        </details>
        
                        <a href="/templates/{{ projeto.link }}" class="btn btn-dark">Link para o projeto</a>
                    </div>
                </div>
        
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block scripts %}
{% endblock %}
