{% extends 'base.html' %}
{% block content %}
<div class="modal-container">

    <div class="modal_conteudo">
        {% for usuario in usuarios %}
            <h1>{{ usuario.nome }}</h1>
            <p>{{ usuario.sobre }}</p>

            <div class="contatos">
                <h1>Contatos</h1>

                <div class="links_contatos">
                    <a href="link_whatsapp"><i class="bi bi-whatsapp" id="icone_zap"></i></a>
                    <a href="link_email"><i class="bi bi-envelope-at-fill" id="icone_email"></i></a>
                    <a href="link_telegram"><i class="bi bi-telegram" id="icone_telegram"></i></a>
                </div>
            </div>
        {% endfor %}
    </div>

</div>

{% endblock %}

{% block scripts %}
{% endblock %}